@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Yeni Hakıımda Oluşturma Sayfası</h3>

<form method="post">
    <label>Hakkında Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span class="text-danger" asp-validation-for="Title"></span>
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span class="text-danger" asp-validation-for="ImageUrl"></span>

    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span class="text-danger" asp-validation-for="Description"></span>

    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>

