
@*
   _AdminSidebarComponent
*@
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="~/mazer-1.0.0/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Genel Yönetim</li>

                <li class="sidebar-item">
                    <a href="/Admin/Banner/Index" class='sidebar-link'>
                        <i class="bi bi-images"></i>
                        <span>Banner Alanı</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/Admin/Category/Index" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Kategoriler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/Admin/Project/Index" class='sidebar-link'>
                        <i class="bi bi-briefcase-fill"></i>
                        <span>Projeler</span>
                    </a>
                </li>

                <li class="sidebar-title">Kurumsal İçerik</li>

                <li class="sidebar-item">
                    <a href="about.html" class='sidebar-link'>
                        <i class="bi bi-info-circle-fill"></i>
                        <span>Hakkımızda</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="about-item.html" class='sidebar-link'>
                        <i class="bi bi-file-earmark-text-fill"></i>
                        <span>Hakkımızda Detay</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="choose.html" class='sidebar-link'>
                        <i class="bi bi-patch-check-fill"></i>
                        <span>Neden Biz?</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="feature.html" class='sidebar-link'>
                        <i class="bi bi-star-fill"></i>
                        <span>Özellikler</span>
                    </a>
                </li>

                <li class="sidebar-title">Etkileşim & İletişim</li>

                <li class="sidebar-item">
                    <a href="testimonial.html" class='sidebar-link'>
                        <i class="bi bi-chat-quote-fill"></i>
                        <span>Referanslar</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="faq.html" class='sidebar-link'>
                        <i class="bi bi-question-circle-fill"></i>
                        <span>S.S.S.</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="social.html" class='sidebar-link'>
                        <i class="bi bi-share-fill"></i>
                        <span>Sosyal Medya</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="contact.html" class='sidebar-link'>
                        <i class="bi bi-envelope-fill"></i>
                        <span>İletişim</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>