
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeaderComponent");

<body>
    <div id="app">
       
        @await Component.InvokeAsync("_AdminSidebarComponent")
        <div id="main">
            @RenderBody()


            @await Component.InvokeAsync("_AdminFooterComponent")
           
        </div>


    </div>

    @await Component.InvokeAsync("_AdminScriptComponent")

</body>

</html>